---
---

@import "{{ site.theme }}";

// Your custom CSS here
body {
  background-color: rgb(255, 255, 255);
}

.site-header {
    border-top: none;
}

.wrapper{
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}